<mat-toolbar class="mainHeader">
  <a routerLink="">
    <span>Zetsy</span>
  </a>
  <span class="headerSpacer"></span>

  <a *ngIf="!userIsAuthenticated" routerLink="/login">
    <button mat-icon-button class="loginIcon" aria-label="Login icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </a>
  <a *ngIf="!userIsAuthenticated" routerLink="/signup">
    <button mat-icon-button class="SignupIcon" aria-label="Signup icon">
      <mat-icon>how_to_reg</mat-icon>
    </button>
  </a>
  <button *ngIf="userIsAuthenticated" mat-icon-button class="LogoutIcon" aria-label="Logout icon" (click)="onLogout()">
    <mat-icon>directions_walk</mat-icon>
  </button>

</mat-toolbar>
<app-crudbar *ngIf="userIsAuthenticated"></app-crudbar>
