<h2>Login</h2>
<mat-spinner *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isloading" >
    <mat-form-field class="example-full-width">
      <input
      matInput
      name = "email"
      ngModel
      type="email"
      placeholder="E-mail"
      #emailInput="ngModel"
      required
      email
      color="white">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
      matInput
      name = "password"
      ngModel
      type="password"
      placeholder="Password"
      #passwordInput="ngModel"
      required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password!</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color='primary'
      class="loginBtn"
      type="submit">Login
    </button>
  </form>
</mat-card>




