:host{
  display: block;
  padding-bottom: 1em;
  background-color: rgb(255, 255, 255) !important;
}
.addForm {
  width: 100%;

}
.inputStyle{
  color:darkslateblue;
}
.example-full-width {
  width: 100%;
}

form,mat-form-field,
input,
textarea{
  width:100%;

}
.addBtn{
  margin: 1em;
  width: 135px;
}
.addBtnAlign{
  display: flex;
 justify-content:end;
}
