<h2>Add New Product Here</h2>
  <mat-card class="addForm">
    <mat-form-field class="example-full-width">
      <mat-label>Course Name</mat-label>
      <input matInput type="text" [(ngModel)] = "inputName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Course Owner</mat-label>
      <input matInput type="text" [(ngModel)] = "inputOwner">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Course Cost</mat-label>
      <input matInput type="text" [(ngModel)] = "inputCost">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Course Description</mat-label>
      <textarea matInput rows="4" [(ngModel)] = "inputDesc"></textarea>
    </mat-form-field>
  <button
  mat-raised-button
  color='primary'
  class="addBtn"
  (click)="onAddProduct()">Save Product</button>
  </mat-card>




