<h2>My Product List</h2>
<mat-spinner *ngIf="isloading"></mat-spinner>
<mat-accordion multi="true" *ngIf="productList.length > 0 && !isloading">
  <mat-expansion-panel *ngFor="let product of productList" class="listStyle">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Name:  {{product.name}}
      </mat-panel-title>
      <mat-panel-description>
        Owner: {{product.owner}}
      </mat-panel-description>
      <mat-panel-description>
        Cost($): {{product.cost}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="imgBoundry">
      <div class="prodImg2">
        <img [src]="product.imagePath" [alt]="product.name">
      </div>
    </div>
    <p> {{product.desc}}</p>
    <mat-action-row class="Spacer">
      <a [routerLink]="['/edit',product.id]" routerLinkActive="router-link-active">
      <button mat-icon-button class="editIcon" aria-label="Edit Product icon" color="primary">
        <mat-icon>create</mat-icon>
      </button></a>
      <button mat-icon-button class="deleteIcon" aria-label="delete Product icon" (click)="onDeleteClick(product.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="productList.length <= 0 && !isloading" class="noProductText mat-body-1">No product added yet!</p>
<mat-paginator *ngIf="productList.length > 0" [length]="totalProducts" [pageSize]="prodPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"></mat-paginator>






<!-- <h2>My Product List</h2>
<mat-spinner *ngIf="isloading"></mat-spinner>
<mat-accordion multi="true" *ngIf="productList.length > 0 && !isloading" class="listStyle">
  <mat-card class="productCard" *ngFor="let product of productList">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle> {{product.owner}}</mat-card-subtitle>
      <mat-card-subtitle> {{product.cost}}$</mat-card-subtitle>
    </mat-card-header>
    <div class="prodImg">
      <img [src]="product.imagePath" [alt]="product.name">
    </div>
    <mat-card-content>
      <p>
        {{product.desc}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actionBoxStyle">
      <span class="Spacer"></span>
      <a [routerLink]="['/edit',product.id]" routerLinkActive="router-link-active">
      <button mat-icon-button class="editIcon" aria-label="Edit Product icon" (click)="onEditClick()" color="primary">
        <mat-icon>create</mat-icon>
      </button></a>
      <button mat-icon-button class="deleteIcon" aria-label="delete Product icon" (click)="onDeleteClick(product.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-accordion>
<p *ngIf="productList.length <= 0 && !isloading" class="noProductText mat-body-1">No product added yet!</p>
 -->
