<mat-toolbar class="crudBarStyle">
  <span class="crudHeaderSpacer"></span>

  <a routerLink="">
   <button mat-icon-button class="listIcon" aria-label="List icon">
      <mat-icon>folder_open</mat-icon>
    </button>
  </a>

  <a mat-button routerLink="/create" routerLinkActive="mat-accent">
    <span class="btnName">Add New Product</span>
    <mat-icon>add_circle_outline</mat-icon>
   <!--  <button mat-icon-button class="cartIcon" aria-label="Add icon">
      <mat-icon>add_circle_outline</mat-icon>
    </button> -->
  </a>
</mat-toolbar>
