form,mat-form-field,
input,
textarea{
  width:100%;

}
mat-spinner{
  margin :auto;
  height: 20px;
  width: 20px;
}
.example-full-width {
  width: 100%;
}
.loginBtn{
  margin: 1em;
  width: 135px;
}
